# Configuración del Servidor NestJS
PORT=tu-puerto

# Configuración de la Base de Datos
DB_PASSWORD=tu-contraseña
DB_NAME=tu-nombre-bd
DB_HOST=tu-host-bd
DB_PORT=tu-puerto-bd
DB_USERNAME=tu-usuario-bd
JWT_SECRET=tu-secreto-jwt
SECRET_HASH = tu-secreto-hash

#Redis
REDIS_HOST=tu-host-redis
REDIS_PORT=tu-puerto-redis